.cabal-sandbox
.ghci
log/
cabal.sandbox.config
production/to-copy
dist/
amps-standalone/
site_key.txt
template-vars.csv
micros-service.txt
docker-*.output
*.docker.properties
*.docker.save.tar
service-descriptor.json
